.sidebar-custom {
  background-color: #422b0d;
  color: #eed883;  /* custom yellow text */
  border: 2px solid #fff;
  overflow-y: auto;
  overflow-x: auto;
}

.bg-custom {
  background-color: #422b0d;
}
.btn-custom {
  background-color: #ff6600;   /* your custom background */
  color: white;                /* text color */
  border: black;                /* remove border */
}

.btn-custom:hover {
  background-color: #e65c00;   /* hover color */
  color: #fff;
}

 
.btn-custom1 {
  width: 50px;               
  height: 50px;              
  border-radius: 20%;        
  border: 2px solid white;   
  background-color: #422b0d; 
  color: black;              
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.8rem;         
  transition: 0.3s; 
}

.btn-custom1:hover {
  background-color: #422b0d;    
  color: #422b0d;             
  border: 2px solid #422b0d;  
}

.nav-item.sidebar-item {
  padding: 8px 12px;
  border-radius: 5px; /* rounded corners */
  transition: all 0.3s ease; /* smooth hover */
}

.nav-item.sidebar-item:hover {
  background-color: #e65c00; /* blue background on hover */
  border-left: 4px solid #ffc107; /* colored left border */
  cursor: pointer; /* shows pointer on hover */
}

/* Submenu items (indented links) */
.sidebar-subitem a {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

/* Hover effect for submenu */
.sidebar-subitem a:hover {
  background-color: #e65c00;
  border-left: 3px solid #ffc107;
  color: #fff;
  text-decoration: none;
}

.btn-edit
{
 background-color: #422b0d;
 color: #fff;
 border: #ffc107;
}
.btn-new
{
 background-color: #fcc00f;
 color: #0c0c0c;
 border: #422b0d;
 font-weight: bold;
}
.btn-delete
{
background-color: #ff6600;
color:#422b0d;
border: #fff;
font-weight: bold;
}
/* all required input tag should be display *red color */
label.required::after {
  content: " *";
  color: red;
  font-size: 20px;      /* make star bigger */
  font-weight: bold;    /* optional, makes it thicker */
  vertical-align: middle
}

/* Topbar fixed */
.topbar-fixed {
  position: fixed; /* makes it fixed */
  top: 0;
  left: 0;
  right: 0;
  height: 60px;    /* match your Topbar height */
  z-index: 1000;
}

/* Sidebar fixed */
.sidebar-custom {
  position: fixed;
  top: 60px; /* below topbar */
  left: 0;
  bottom: 0;
  width: 220px; /* collapsed will be 70px */
  overflow-y: auto;
  z-index: 999;
  transition: width 0.3s;
}

/* Main content */
.main-content {
  margin-left: 220px; /* match sidebar width */
  margin-top: 60px;   /* match topbar height */
  padding: 20px;
  min-height: calc(100vh - 60px);
  overflow-x: hidden;  /* prevent horizontal scroll */
  transition: margin-left 0.3s;
}
